<div class="rubric-item-group">
  <app-rubric-item class="rubric-item"
                   [rubricTitle]="'Рубрики'"
                   [categoryList]="categoryParentList"
                   (getSubCategory)="getCategoryItem($event)"
                   (click)="selectedCategory(selectedCategories)">
  </app-rubric-item>
  <app-rubric-item class="rubric-item"
                   [rubricTitle]="categoryChildListTitle"
                   [categoryList]="categoryChildList"
                   (getSubCategory)="getSubCategoryItem($event)"
                   (click)="selectedCategory(selectedCategories)">
  </app-rubric-item>
  <app-rubric-item class="rubric-item"
                   [rubricTitle]="categorySubChildListTitle"
                   [categoryList]="categorySubChildList"
                   (getSubCategory)="getSubChildCategoryItem($event)"
                   (click)="selectedCategory(selectedCategories)">
  </app-rubric-item>
</div>
