.posts-add_header {
  display: flex;
  margin-bottom: 13px;
  span {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #B70305;
    font-style: normal;
    font-weight: 500;
    width: 340px;
  }
  .border-bottom {
    border-bottom: 1px solid #DADADA;
    width: 100%;
    height: 23px;
    &.br {
      height: 1px;
    }
  }
  &.margin-top {
    margin-top: 64px;
  }
}

.form-gropup {
  display: flex;
  align-items: flex-start;
  margin: 25px 0;
  .descrption {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  &.strip {
    border-top: 1px solid #DADADA;
    padding-top: 25px;
    border-top: 1px solid #DADADA;
  };
  input, textarea {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 10px;
  }
  label {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #474747;
    width: 130px;
    &.contact-data {
      width: 150px;
      margin-right: 15px;
    }
  }
  input[type="text"] {
    width: 500px;
    height: 32px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;
    &.contact-data {
      width: 470px;
    }
  }
  button {
    width: 170px;
    height: 32px;
    color: white;
    background: #B70305;
    border-radius: 4px;
    outline: none;
  }
  textarea {
    width: 500px;
    height: 175px;
    background: #FFFFFF;
    border: 1px solid #B70305;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 6px rgba(183, 3, 5, 0.3);
    border-radius: 4px;
  }
  .upload-photo-group {
    display: flex;
    input[type="file"] {
      width: 78px;
      height: 78px;
      background: #FFF9F9;
      border: 1px dashed #B70305;
      box-sizing: border-box;
      border-radius: 2px;
    }
    .upload-photo {
      width: 78px;
      height: 78px;
      background: #FFF9F9;
      border: 1px dashed #B70305;
      box-sizing: border-box;
      border-radius: 2px;
      &.file {
        opacity: 0;
        position: absolute;
      }
      &.file-main {
        position: relative;
      }
      &.main {
        width: 168px;
        height: 168px;
      }
    }
    .upload-photo__min .upload-photo {
      margin-right: 34px;
    }
    .upload-photo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .upload-photo__content {
      position: absolute;
      text-align: center;
      width: 168px;
      height: 168px;
      img {
        width: 36px;
        height: 36px;
        margin-top: 35px;
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #DA7E80;
        width: 100px;
        margin: 12px auto;
      }
    }
  }
}

.plus {
  width: 24px;
  height: 24px;
  color: white;
  background: #B70305;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
}
.upload-photo__min {
  display: flex;
  margin-left: 34px;
  &:first-child {
    margin-bottom: 12px;
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 32px 0;
  .btn {
    width: 187px;
    height: 32px;
    border-radius: 4px;
    &.red, &.white {
      padding: 0;
    }
    &.red {
      background: #B70305 !important;
      color: white;
    }
    &.white {
      border: 1px solid #B70305;
      color: #B70305;
      margin-right: 24px;
    }
  }
}