:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.25rem;
    position: relative;

    .form-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;

        .custom-field-form-field {
            display: flex;
            align-items: center;
            padding-bottom: 1.5rem;

            label {
                flex: .3;
                padding-right: .3125rem;
            }

            .labeled {
                flex: 1;
            }
        }

        
        .add-params {
            padding-bottom: .5rem;
            cursor: pointer;
            color: #192038;
            text-decoration: underline;
        }

        .remote-params {
            cursor: pointer;
            color: #B70305;
            text-decoration: underline;
            padding-top: 1.5rem;
        }

        .custom-field-form-params-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .error {
            position: absolute;
            top: auto;
        }
    }

    .custom-field-tools {
        border-top: 1px solid #ebeef2;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        padding-top: .5rem;

        button ~ button {
            margin-left: 1rem;
        }
    }
}
