<div class="post" *ngIf="post">
  <div class="post__left">

    <div class="post-header">
      <div class="post-header__user">
        <div class="post-header__avatar">
          <img src="https://www.stickpng.com/assets/images/585e4bcdcb11b227491c3396.png">
        </div>
        <div>
          <div class="post-header__user-name">{{ post.user?.firstName?.name }} {{ post.user?.lastName?.name }}</div>
          <div class="post-header__time">{{ post.created | date: 'dd MMMM yyyy в HH:mm' }}</div>
          <div class="post-header__category">
            {{ post.category?.name }}
          </div>
        </div>
      </div>
      <div class="post-header__actions">
        <div class="data-user__shared">
          <img src="../../../../assets/img/star.png" class="star">
          <img src="../../../../assets/img/shared.png" class="shared">
        </div>
      </div>
    </div>

    <div class="post__info">
      <div class="post__gallery">
        <div class="post__image">
          <app-carousel [sliderArray]="sliderArray"></app-carousel>
        </div>
      </div>
      <h1>
        {{ post.title }}
      </h1>
      <div class="post__about">
        {{ post.content }}
      </div>
      <div class="post__params">
        <div class="param" *ngFor="let item of post.postCustomFields">
          <div class="param__key">{{ item.customField.name }}</div>
          <div class="param__value">{{ item.value }}</div>
        </div>
      </div>
      <div class="post__footer">
        <button class="btn btn__red">Написать автору</button>
        <button class="btn btn__bordered">Позвонить автору</button>
      </div>
      <div class="post__actions" *ngIf="post.id">
        <div class="post__like">
          <img src="/assets/img/like.svg">
          5
        </div>
        <div class="post__views">
          <img src="/assets/img/eye.svg">
          {{ post.countViewed }}
        </div>
      </div>
    </div>
  </div>

  <div class="post__filter">
    <div class="post-info">
      <div class="post-info__price">{{ post.price }} {{ post.currency?.symbol }}</div>
      <div class="post-info__actions">
        <button class="btn btn__red">Написать автору</button>
        <button class="btn btn__bordered">Показать номер</button>
      </div>
      <div class="post-info__params">
        <div class="post-info__param">
          <b>Регион</b>
          Украина, Киев Днепровский р-н.
        </div>
      </div>
      <div class="text-center">
        <a href="#" class="post-info__map">Показать на карте</a>
      </div>
    </div>
  </div>
</div>