.header-title {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #B70305;
  padding: 10px;
  span {
    font-weight: 500;
  }
}
.rubric-item{
  color: #B70305;
  padding: 5px 10px;
}