<div class="category-group">
  <div class="category-group__categories">
    <div *ngFor="let item of categories" class="category">
      <h3>{{ item.category.name }}</h3>
      <div class="category__posts">
        <app-categories-all-item [post]="post" *ngFor="let post of item.posts"></app-categories-all-item>
      </div>
      <div class="category__show-more">
        <a href="#" [routerLink]="['/categories', item.category.slug]">Показать больше</a>
      </div>
    </div>
  </div>
  <div class="category-group__filter">
    <app-categories-all-filter></app-categories-all-filter>
  </div>
</div>