<div class="category-group">
  <div class="category-group__categories">
    <div class="category">
      <h3>Популярные обьявления</h3>
      <div class="category__posts">
        <app-categories-all-item [post]="post" *ngFor="let post of popularPosts"></app-categories-all-item>
      </div>
      <div class="category__show-more">
        <a href="#" [routerLink]="['/categories']">Показать больше</a>
      </div>
    </div>

    <div class="category">
      <h3>Новые обьявления</h3>
      <div class="category__posts">
        <app-categories-all-item [post]="post" *ngFor="let post of recentPosts"></app-categories-all-item>
      </div>
      <div class="category__show-more">
        <a href="#" [routerLink]="['/categories']">Показать больше</a>
      </div>
    </div>
  </div>
  <div class="category-group__filter">
    <app-categories-all-filter (changeData)="applyFilters($event)"></app-categories-all-filter>
  </div>
</div>