.header {
  width: 900px;
  background: #fff;
  padding: 16px;
  font-size: 24px;
  line-height: 28px;
  color: #B70305;
  font-weight: 500;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-bottom: 20px;
}

.footer {
  width: 900px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 29px;
  text-align: center;
  margin-top: 40px;
}