<div class="category-item_wrapper">
  <div class="data-user">
    <div class="data-user__info">
      <img src="https://www.stickpng.com/assets/images/585e4bcdcb11b227491c3396.png">
      <div>
        <div class="name">Артем Иванов</div>
        <div class="date">22 мая 2019 в 17:33</div>
        <div class="type">Транспорт, б/у автомобили</div>
      </div>
    </div>
    <div class="data-user__shared">
      <img src="../../../../assets/img/star.png" class="star">
      <img src="../../../../assets/img/shared.png" class="shared">
    </div>
  </div>
  <div class="data-product">
    <img src="https://www.avtovzglyad.ru/media/article/470fe986b4955ce9faf8b06818c79f841bd73c.jpg.740x555_q85_box-0%2C0%2C1024%2C768_crop_detail_upscale.jpg">
    <div class="data-product_params">
      <div class="header">
        <div class="title">Продам Daewo Lanos 2005 года</div>
        <div class="type">
          <div class="title">Продам</div>
          <svg width="135" height="32" viewBox="0 0 135 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M130 0L134.249 3.39951C134.724 3.77906 135 4.35368 135 4.96125V26H130V0Z" fill="#9D0103"/>
            <path d="M6.16596 4.5L134 4.5C134.276 4.5 134.5 4.72386 134.5 5V30C134.5 30.8284 133.828 31.5 133 31.5L6.53775 31.5C5.05809 31.5 4.47213 29.5846 5.69855 28.7567L17.9106 20.5136C19.3494 19.5424 19.3848 17.4364 17.9793 16.4174L5.28551 7.21441C4.10845 6.36105 4.71211 4.5 6.16596 4.5Z" fill="#B70305" stroke="#B70305"/>
          </svg>
        </div>
      </div>
      <div class="body">
        <div class="description">
          Краткое описание краткое описание это чудо-машины, богини одним словом, но можно и двумя. Она просто ошарашила всех древних людей и не только. Меня не зацепила, но еще все впереди у этой красотки...
        </div>
        <div class="price">
          109 245 грн
        </div>
      </div>
    </div>
  </div>
</div>


<div class="category-item_wrapper">
    <div class="data-user">
      <div class="data-user__info">
        <img src="https://www.stickpng.com/assets/images/585e4bcdcb11b227491c3396.png">
        <div>
          <div class="name">Артем Иванов</div>
          <div class="date">22 мая 2019 в 17:33</div>
          <div class="type">Транспорт, б/у автомобили</div>
        </div>
      </div>
      <div class="data-user__shared">
        <img src="../../../../assets/img/star.png" class="star">
        <img src="../../../../assets/img/shared.png" class="shared">
      </div>
    </div>
    <div class="data-product">
      <img src="https://www.avtovzglyad.ru/media/article/470fe986b4955ce9faf8b06818c79f841bd73c.jpg.740x555_q85_box-0%2C0%2C1024%2C768_crop_detail_upscale.jpg">
      <div class="data-product_params">
        <div class="header">
          <div class="title">Продам Daewo Lanos 2005 года</div>
          <div class="type">
            <div class="title">Продам</div>
            <svg width="135" height="32" viewBox="0 0 135 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M130 0L134.249 3.39951C134.724 3.77906 135 4.35368 135 4.96125V26H130V0Z" fill="#9D0103"/>
              <path d="M6.16596 4.5L134 4.5C134.276 4.5 134.5 4.72386 134.5 5V30C134.5 30.8284 133.828 31.5 133 31.5L6.53775 31.5C5.05809 31.5 4.47213 29.5846 5.69855 28.7567L17.9106 20.5136C19.3494 19.5424 19.3848 17.4364 17.9793 16.4174L5.28551 7.21441C4.10845 6.36105 4.71211 4.5 6.16596 4.5Z" fill="#B70305" stroke="#B70305"/>
            </svg>
          </div>
        </div>
        <div class="body">
          <div class="description">
            Краткое описание краткое описание это чудо-машины, богини одним словом, но можно и двумя. Она просто ошарашила всех древних людей и не только. Меня не зацепила, но еще все впереди у этой красотки...
          </div>
          <div class="price">
            109 245 грн
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="category-item_wrapper">
  <div class="data-user">
    <div class="data-user__info">
      <img src="https://www.stickpng.com/assets/images/585e4bcdcb11b227491c3396.png">
      <div>
        <div class="name">Артем Иванов</div>
        <div class="date">22 мая 2019 в 17:33</div>
        <div class="type">Транспорт, б/у автомобили</div>
      </div>
    </div>
    <div class="data-user__shared">
      <img src="../../../../assets/img/star.png" class="star">
      <img src="../../../../assets/img/shared.png" class="shared">
    </div>
  </div>
  <div class="data-product">
    <img src="https://www.avtovzglyad.ru/media/article/470fe986b4955ce9faf8b06818c79f841bd73c.jpg.740x555_q85_box-0%2C0%2C1024%2C768_crop_detail_upscale.jpg">
    <div class="data-product_params">
      <div class="header">
        <div class="title">Продам Daewo Lanos 2005 года</div>
        <div class="type">
          <div class="title">Продам</div>
          <svg width="135" height="32" viewBox="0 0 135 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M130 0L134.249 3.39951C134.724 3.77906 135 4.35368 135 4.96125V26H130V0Z" fill="#9D0103"/>
            <path d="M6.16596 4.5L134 4.5C134.276 4.5 134.5 4.72386 134.5 5V30C134.5 30.8284 133.828 31.5 133 31.5L6.53775 31.5C5.05809 31.5 4.47213 29.5846 5.69855 28.7567L17.9106 20.5136C19.3494 19.5424 19.3848 17.4364 17.9793 16.4174L5.28551 7.21441C4.10845 6.36105 4.71211 4.5 6.16596 4.5Z" fill="#B70305" stroke="#B70305"/>
          </svg>
        </div>
      </div>
      <div class="body">
        <div class="description">
          Краткое описание краткое описание это чудо-машины, богини одним словом, но можно и двумя. Она просто ошарашила всех древних людей и не только. Меня не зацепила, но еще все впереди у этой красотки...
        </div>
        <div class="price">
          109 245 грн
        </div>
      </div>
    </div>
  </div>
</div>


<div class="category-item_wrapper">
  <div class="data-user">
    <div class="data-user__info">
      <img src="https://www.stickpng.com/assets/images/585e4bcdcb11b227491c3396.png">
      <div>
        <div class="name">Артем Иванов</div>
        <div class="date">22 мая 2019 в 17:33</div>
        <div class="type">Транспорт, б/у автомобили</div>
      </div>
    </div>
    <div class="data-user__shared">
      <img src="../../../../assets/img/star.png" class="star">
      <img src="../../../../assets/img/shared.png" class="shared">
    </div>
  </div>
  <div class="data-product">
    <img src="https://www.avtovzglyad.ru/media/article/470fe986b4955ce9faf8b06818c79f841bd73c.jpg.740x555_q85_box-0%2C0%2C1024%2C768_crop_detail_upscale.jpg">
    <div class="data-product_params">
      <div class="header">
        <div class="title">Продам Daewo Lanos 2005 года</div>
        <div class="type">
          <div class="title">Продам</div>
          <svg width="135" height="32" viewBox="0 0 135 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M130 0L134.249 3.39951C134.724 3.77906 135 4.35368 135 4.96125V26H130V0Z" fill="#9D0103"/>
            <path d="M6.16596 4.5L134 4.5C134.276 4.5 134.5 4.72386 134.5 5V30C134.5 30.8284 133.828 31.5 133 31.5L6.53775 31.5C5.05809 31.5 4.47213 29.5846 5.69855 28.7567L17.9106 20.5136C19.3494 19.5424 19.3848 17.4364 17.9793 16.4174L5.28551 7.21441C4.10845 6.36105 4.71211 4.5 6.16596 4.5Z" fill="#B70305" stroke="#B70305"/>
          </svg>
        </div>
      </div>
      <div class="body">
        <div class="description">
          Краткое описание краткое описание это чудо-машины, богини одним словом, но можно и двумя. Она просто ошарашила всех древних людей и не только. Меня не зацепила, но еще все впереди у этой красотки...
        </div>
        <div class="price">
          109 245 грн
        </div>
      </div>
    </div>
  </div>
</div>

  
<div class="category-item_wrapper">
  <div class="data-user">
    <div class="data-user__info">
      <img src="https://www.stickpng.com/assets/images/585e4bcdcb11b227491c3396.png">
      <div>
        <div class="name">Артем Иванов</div>
        <div class="date">22 мая 2019 в 17:33</div>
        <div class="type">Транспорт, б/у автомобили</div>
      </div>
    </div>
    <div class="data-user__shared">
      <img src="../../../../assets/img/star.png" class="star">
      <img src="../../../../assets/img/shared.png" class="shared">
    </div>
  </div>
  <div class="data-product">
    <img src="https://www.avtovzglyad.ru/media/article/470fe986b4955ce9faf8b06818c79f841bd73c.jpg.740x555_q85_box-0%2C0%2C1024%2C768_crop_detail_upscale.jpg">
    <div class="data-product_params">
      <div class="header">
        <div class="title">Продам Daewo Lanos 2005 года</div>
        <div class="type">
          <div class="title">Продам</div>
          <svg width="135" height="32" viewBox="0 0 135 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M130 0L134.249 3.39951C134.724 3.77906 135 4.35368 135 4.96125V26H130V0Z" fill="#9D0103"/>
            <path d="M6.16596 4.5L134 4.5C134.276 4.5 134.5 4.72386 134.5 5V30C134.5 30.8284 133.828 31.5 133 31.5L6.53775 31.5C5.05809 31.5 4.47213 29.5846 5.69855 28.7567L17.9106 20.5136C19.3494 19.5424 19.3848 17.4364 17.9793 16.4174L5.28551 7.21441C4.10845 6.36105 4.71211 4.5 6.16596 4.5Z" fill="#B70305" stroke="#B70305"/>
          </svg>
        </div>
      </div>
      <div class="body">
        <div class="description">
          Краткое описание краткое описание это чудо-машины, богини одним словом, но можно и двумя. Она просто ошарашила всех древних людей и не только. Меня не зацепила, но еще все впереди у этой красотки...
        </div>
        <div class="price">
          109 245 грн
        </div>
      </div>
    </div>
  </div>
</div>
    
