@import "src/assets/style/mixin.scss";
@import "src/assets/style/__variables.scss";

.user-menu {
  position: relative;
  user-select: none;
  margin-top: 40px;

  app-dropdown {
    position: absolute;
    left: auto;
    right: 0px;
    top: 100%;
    transform: translateY(0px);
    bottom: auto;
    width: 200px;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1048;
  height: 60px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  background: #fff;

  .header-wrapper__container {
    @include flex-position($justify-content: space-between);

    flex-direction: row;
    flex: 1;
    width: 1160px;
    margin: 0 auto;
    height: 60px;

    .header_logo {
      flex: 0 0 30%;
      display: flex;
    }

    .header_user {
      display: flex;
      flex: 0 0 20%;
      justify-content: flex-end;
      align-items: center;

      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #b30706;
        background-size: contain;
      }
    }

    .empty-header {
      width: 100%;
    }
  }
}

.user-settings {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;

  &:before {
    display: block;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #b30606 transparent;
  }
}

.block_auth {
  @include flex-position;

  #link-sign {
    width: 132px;
    background: $main-color;
    border-radius: 4px;
    color: #FFFFFF;
  }

  #link-register {
    width: 109px;
    color: $main-color;
    margin: 0 40px;
  }

  #link-sign, #link-register {
    @include flex-position;

    height: 32px;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
  }
}

.btn-add-post {
  background: #B70305;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  height: 32px;
  padding: 0 10px;
  white-space: nowrap;
  margin-right: 25px;
  border: none;

  img {
    margin-right: 5px;
  }
}