<div class="header-wrapper">
  <div class="header-wrapper__container">
    <div class="header_logo"><app-logo class="logo"></app-logo></div>
    <div class="empty-header">&nbsp;</div>
    <div *appShowAuthed="false" class="block_auth">
      <span id="link-register" routerLink="/registration">Регистрация</span>
      <span id="link-sign" routerLink="/signin">Войти</span>
    </div>

    <div class="header_user" *appShowAuthed="true">
      <img src="https://vpotoke.com/assets/img/astronaut.svg">
      <div class="user-menu" (appClickOutside)="showSettings = false">
        <span class="user-settings" (click)="showSettings = !showSettings"></span>
        <app-popover *ngIf="showSettings">
          <a>Мой профиль</a>
          <a>Настройки профиля</a>
          <a (click)="currentUserService.logout()">Выйти</a>
          <a>О нас</a>
        </app-popover>
      </div>
    </div>
  </div>
</div>

