:host {
    display: block;
    box-shadow: none;
    border-radius: .17rem;

    vp-accordion-item-header {
        position: relative;
        color: #192038;
        font-size: .9375rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: 1.25rem;
        border-bottom: 1px solid #edf1f7;

        i {
            position: absolute;
        }
    }

    vp-accordion-item {
        background-color: #fff;
        color: #192038;
        font-size: .9375rem;
        font-weight: 400;
        line-height: 1.25rem;

        &.disabled vp-accordion-item-header {
            color: grey;
            cursor: default;
        }

        &:first-child {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        &:last-child {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;

            &.collapsed vp-accordion-item-header {
                border-bottom: none;
            }
        }
    }

    vp-accordion-item:not(.collapsed) + vp-accordion-item vp-accordion-item-header {
        border-top: 1px solid #edf1f7;
    }

    vp-accordion-item-body .item-body {
        flex: 1;
        -ms-flex: 1 1 auto;
        overflow: auto;
        padding: .5rem;
        position: relative;
    }
}
