<form class="category-form"
    [formGroup]="categoryForm"
    (ngSubmit)="onSubmit()">
    <div *ngFor="let alert of alerts">
        <alert [type]="alert.type"
            [dismissible]="dismissible"
            (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
    </div>
    <div class="form-group category-form-field">
        <label for="name">Название:</label>
        <input class="form-control"
            type="text"
            id="name"
            placeholder="Введите название"
            formControlName="name"
            [ngClass]="{'is-invalid':  categoryForm.get('name').errors && categoryForm.get('name').touched}">
    </div>

    <div class="form-group category-form-field">
        <label for="slug">URL адрес:</label>
        <input type="text"
            class="form-control"
            id="slug"
            placeholder="Введите URL адрес"
            formControlName="slug"
            [ngClass]="{'is-invalid':  categoryForm.get('slug').errors && categoryForm.get('slug').touched}">
        <div class="invalid-feedback error"
            *ngIf="categoryForm.get('slug').errors && categoryForm.get('slug').touched">
            Введите URL адрес
        </div>
    </div>
    <div class="form-group category-form-field">
        <label for="parent">Родительская категория:</label>
        <ng-select class="parent-category-select"
            [items]="categories"
            bindLabel="name"
            bindValue="id"
            labelForId="parent"
            [multiple]="false"
            placeholder="Корень каталога"
            clearAllText="Очистить"
            formControlName="parent">
        </ng-select>
    </div>
    <div class="form-group category-form-field">
        <label for="image">Изображение категории:</label>
        <div class="category-image-wrap">
            <div class="category-image-preview"
                *ngIf="previewUrl">
                <img [src]="previewUrl"
                    class="preview-img" />
                <button type="button"
                    (click)="removeUploadFile()"
                    class="btn v-btn-red preview-delete-btn">x</button>
            </div>
            <div class="category-image-input"
                *ngIf="!previewUrl">
                <button type="button"
                    class="btn v-btn-red add-category-btn"
                    (click)="file.value = null;file.click()"><i class="fa fa-plus"
                        aria-hidden="true"></i> Добавить
                </button>
                <input class="file"
                    #file
                    type="file"
                    accept="image/*"
                    size="28"
                    (change)="onFileChange($event)"
                    name="photo">
            </div>
        </div>
    </div>

    <!-- <div class="category-form-custom-field">
        <div class="add-custom-field" (click) = "addCustomField()">
            <i class="fa fa-plus-circle"
                aria-hidden="true"></i> Добавить дополнительное поле
        </div>
    </div>

    <div formArrayName="customFields"
        class="category-form-custom-field-wrap">
        <div class="category-form-custom-field-input"
            *ngFor="let customFields of formCustomField.controls; let i = index"
            [formGroupName]="i">
            <div class="form-group">
                <label for="slug">Название:</label>
                <input type="text"
                    name="name"
                    formControlName="name"
                    placeholder="Введите название"
                    class="form-control"
                    [ngClass]="{'is-invalid':  customFields.get('name').errors && customFields.get('name').touched}">
            </div>
            <div class="form-group">
                <label for="slug">Тип:</label>
                <input type="text"
                    name="name"
                    formControlName="type"
                    placeholder="Введите тип"
                    class="form-control"
                    [ngClass]="{'is-invalid':  customFields.get('type').errors && customFields.get('type').touched}">
            </div>
            <span class="remote-custom-field" (click) = "remoteCustomField(i)">
                    <i class="fa fa-minus-circle"
                    aria-hidden="true"></i>  Удалить 
            </span>
        </div>
    </div> -->

    <div class="btn-wrap">
        <button type="submit"
            class="btn v-btn-red add-category-btn"
            [disabled]="!categoryForm.valid">
            {{buttonTitle}}
        </button>
    </div>
</form>