<div class="wrapper-category">
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории категории категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
  <div class="category-item">
    <img src="https://vpotoke.com/assets/img/astronaut.svg">
    <span>категории</span>
  </div>
</div>