<div class="form-group row" [formGroup]="form">
  <label class="col-md-3 form-control-label" [attr.for]="field.label">
    {{field.label}}
    <strong class="text-danger" *ngIf="field.required">*</strong>
  </label>
  <div class="col-md-9" [ngSwitch]="field.type">
    <app-input *ngSwitchCase="'input'" [field]="field" [form]="form"></app-input>
    <app-select *ngSwitchCase="'select'" [field]="field" [form]="form"></app-select>
    <app-checkbox *ngSwitchCase="'checkbox'" [field]="field" [form]="form"></app-checkbox>
    <app-radio *ngSwitchCase="'radio'" [field]="field" [form]="form"></app-radio>
    <app-textarea *ngSwitchCase="'textarea'" [field]="field" [form]="form"></app-textarea>
    <div class="alert alert-danger my-1 p-2 fadeInDown animated" *ngIf="!isValid && isDirty">{{field.label}} is required</div>
  </div>
</div>