@import "src/assets/style/mixin.scss";
@import "src/assets/style/__variables.scss";

.breadcrumb {
  @include content-box;
  @include flex-position($justify-content: flex-start);

  position: relative;

  span {
    font-size: 18px;
    line-height: 21px;
    color: $main-color;
    position: absolute;
    right: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .breadcrumb-item {
    @include flex-position;

    a {
      @include flex-position($justify-content: flex-start);

      padding-right: 15px;
      font-size: 14px;
      line-height: 16px;
      color: #696969;

      &:after {
        border: solid #575757;
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg);
        content: " ";
        display: inline-block;
        width: 7px;
        height: 7px;
        margin-left: 5px;
        vertical-align: middle;
      }
    }

    &:last-of-type {
      a {
        &:after {
          display: none;
        }
      }
    }
  }
}

.breadcrumb-item {
  &:before {
    display: none;
  }
}
