<ng-container *ngIf="!showEdit">
    <div class="custom-field-name">
        {{customField.name}}
    </div>

    <div class="custom-field-type">
        {{customField.type}}
    </div>
    <div class="custom-field-hide"></div>

    <div class="custom-field-tools"
        *ngIf="isHover">
        <span class="edit-custom-field"
            tooltip="Редактировать"
            tooltipAppendToBody="true"
            role="button"
            aria-label="Редактировать"
            (click)="onClickEditCustomField(true)"><i class="fa fa-pencil-square"
                aria-hidden="true"></i>
        </span>
        <span class="delete-custom-field"
            tooltip="Удалить"
            tooltipAppendToBody="true"
            role="button"
            aria-label="Удалить"
            (click)="deleteCustomField($event)"><i class="fa fa-trash"
                aria-hidden="true"></i>
        </span>
    </div>
</ng-container>
<ng-container *ngIf="showEdit">
    <app-custom-field-managment-create [customField]="customField"
        class="custom-field-edit"
        (close)="onClickEditCustomField(false)"
        (create)="onEditCustomField($event)">
    </app-custom-field-managment-create>
</ng-container>