<app-card>
    <app-card-header>
        <span> Менеджер категорий </span>
        <button class="btn v-btn-red add-category-btn"
            (click)="onClickAddCategory(templateCreateCategory)">
            <i class="fa fa-plus"
                aria-hidden="true"></i> Добавить
        </button>
    </app-card-header>
    <app-card-body>
        <vp-accordion>
            <ng-container *ngFor="let category of categories; let i = index;">
                <vp-accordion-item *ngIf="category.children && category.children.length > 0">
                    <vp-accordion-item-header>
                        <app-category-managment-item [category]="category"
                            (delete)="onDeleteCategory(category)"
                            (edit)="onClickEditCategory(templateCreateCategory, category)">
                        </app-category-managment-item>
                    </vp-accordion-item-header>
                    <vp-accordion-item-body>
                        <vp-accordion class="category-child-wrap">
                            <ng-container *ngFor="let childCategory of category.children">
                                <ng-container *ngIf="childCategory.children && childCategory.children.length > 0">
                                    <vp-accordion-item>
                                        <vp-accordion-item-header>
                                            <app-category-managment-item [category]="childCategory"
                                                (delete)="onDeleteCategory(childCategory, category)"
                                                (edit)="onClickEditCategory(templateCreateCategory, childCategory)">
                                            </app-category-managment-item>
                                        </vp-accordion-item-header>
                                        <vp-accordion-item-body>
                                            <ng-container *ngFor="let childChildCategory of childCategory.children">
                                                <app-category-managment-item [category]="childChildCategory"
                                                    (delete)="onDeleteCategory(childChildCategory, childCategory)"
                                                    (edit)="onClickEditCategory(templateCreateCategory, childChildCategory)">
                                                </app-category-managment-item>
                                            </ng-container>
                                        </vp-accordion-item-body>
                                    </vp-accordion-item>
                                </ng-container>
                                <ng-container *ngIf="childCategory.children && !childCategory.children.length">
                                    <app-category-managment-item [category]="childCategory"
                                        (delete)="onDeleteCategory(childCategory, category)"
                                        (edit)="onClickEditCategory(templateCreateCategory, childCategory)">
                                    </app-category-managment-item>
                                </ng-container>
                            </ng-container>
                        </vp-accordion>
                    </vp-accordion-item-body>
                </vp-accordion-item>
                <app-category-managment-item *ngIf="category.children && !category.children.length"
                    [category]="category"
                    (delete)="onDeleteCategory(category)"
                    (edit)="onClickEditCategory(templateCreateCategory, category)">
                </app-category-managment-item>
            </ng-container>
        </vp-accordion>
    </app-card-body>
</app-card>

<ng-template #templateCreateCategory>
    <div class="modal-header category-create-header">
        <h4 class="modal-title category-create-title">{{titleCreateCategory}}</h4>
        <button type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="createCategoryRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body category-create-body">
        <app-category-create [categories]="categories"
            [editable]="isEditCategory"
            [category]="currentCategory"
            (addCategory)="getCategories()"
            (updateCategory)="getCategories()">
        </app-category-create>
    </div>
</ng-template>