<app-card size="xlarge">
    <app-card-header>
        <span> Менеджер категорий </span>
        <button class="btn v-btn-red add-category-btn"
            (click)="onClickAddCategory()">
            <i class="fa fa-plus"
                aria-hidden="true"></i> Добавить
        </button>
    </app-card-header>
    <app-card-body>
        <vp-accordion>
                <vp-accordion-item *ngFor="let category of categories">>
                    <vp-accordion-item-header>
                        <app-category-managment-item [category]="category"
                            (click)="onClickCategory(category)"
                            [class.selected]="category === currentCategory"
                            (delete)="deleteCategory(category)"
                            (edit)="onClickEditCategory(category)">
                        </app-category-managment-item>
                    </vp-accordion-item-header>
                    <vp-accordion-item-body>
                        <ng-container *ngIf="category.children && category.children.length > 0">
                            <vp-accordion>
                                    <vp-accordion-item *ngFor="let childCategory of category.children">
                                        <vp-accordion-item-header>
                                            <app-category-managment-item [category]="childCategory"
                                                (click)="onClickCategory(childCategory)"
                                                [class.selected]="childCategory === currentCategory"
                                                (delete)="deleteCategory(childCategory)"
                                                (edit)="onClickEditCategory(childCategory)">
                                            </app-category-managment-item>
                                        </vp-accordion-item-header>
                                        <vp-accordion-item-body>
                                            Item Content
                                        </vp-accordion-item-body>
                                    </vp-accordion-item>
                            </vp-accordion>
                        </ng-container>
                    </vp-accordion-item-body>
                </vp-accordion-item>
        </vp-accordion>
    </app-card-body>
</app-card>