<ng-template #template let-modal>
  <div class="modal-container">
    <img src="/assets/img/Shape.png" (click)="modalRef.hide()">
    <ng-content></ng-content>
  </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openModal(template)">Modal vertically centered</button>



<!-- 
<button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template> -->
