body
  background: #e5e5e5
  padding: 0
  margin: 0
  position: relative
  background: #e5e5e5
  color: #333
  font-size: 18px
  text-rendering: optimizeLegibility
  min-height: 100vh
  height: 100%
  font-weight: 400
  line-height: 1.5

*
  box-sizing: border-box
  font-family: Helvetica,Roboto,Arial


button, input 
  overflow: visible
  outline: none
p
  font-size: 16px
  margin-top: 0
  margin-bottom: 1rem

a
  color: #007bff
  text-decoration: none
  background-color: transparent

form 
  display: block
  margin-top: 0em


.form-group
  margin-bottom: .3rem

.form-group label 
  margin-bottom: 0
  font-size: 14px

.form-row
  display: flex
  flex-wrap: wrap
  margin-right: -5px
  margin-left: -5px
  .form-check
    padding-left: 1.5rem !important


.form-check-input
  position: absolute
  margin-top: .3rem
  margin-left: -1.25rem

.form-group input
  font-size: 14px

.form-control
  display: block
  width: 100%
  height: calc(1.5em + .75rem + 2px)
  padding: .375rem .75rem
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: .25rem
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out


.btn
  display: inline-block
  font-weight: 400
  color: #212529
  text-align: center
  vertical-align: middle
  user-select: none
  background-color: transparent
  border: 1px solid transparent
  padding: .375rem .75rem
  font-size: 1rem
  line-height: 1.5
  border-radius: .25rem

  &.v-btn-red
    width: 230px
    height: 44px
    line-height: 40px
    color: #fff
    text-align: center
    box-sizing: border-box
    border: 2px solid transparent
    background: #bc0000
    padding: 0
    -webkit-transition: .3s
    transition: all .3s
    border-radius: 0
    cursor: pointer
    outline: 0
    box-shadow: none
    &:hover
      outline: 0
      border: 2px solid #bc0000
      color: #bc0000
      background: #fff
      box-shadow: none


.text-center
  text-align: center

.text-red
  color: #bc0000
  word-break: normal