body
  background: #e5e5e5
  padding: 0
  margin: 0
  position: relative
  background: #e5e5e5
  color: #333
  font-size: 18px
  text-rendering: optimizeLegibility
  min-height: 100vh
  height: 100%
  font-weight: 400
  line-height: 1.5

*
  box-sizing: border-box
  font-family: Helvetica,Roboto,Arial
  outline: none


button, input 
  overflow: visible
p
  font-size: 16px
  margin-top: 0

a
  color: #007bff
  text-decoration: none
  background-color: transparent

form
  display: block
  margin-top: 0em


.form-group
  margin-bottom: .3rem

.form-group label
  margin-bottom: 0
  font-size: 14px


.form-row
  display: flex
  flex-wrap: wrap
  margin-right: -5px
  margin-left: -5px
  .form-check
    padding-left: 1.5rem !important

fieldset
  padding: 0
  margin: 0
  border: 0

.offset-md-4
  margin-left: 33.333333%

.form-check-input
  position: absolute
  margin-top: .3rem
  margin-left: -1.25rem

.form-group input
  font-size: 14px


.btn
  display: inline-block
  font-weight: 400
  color: #212529
  text-align: center
  vertical-align: middle
  user-select: none
  background-color: transparent
  border: 1px solid transparent
  padding: .375rem .75rem
  font-size: 1rem
  line-height: 1.5
  border-radius: .25rem

  &.v-btn-red
    width: 230px
    height: 44px
    line-height: 40px
    color: #fff
    text-align: center
    box-sizing: border-box
    border: 2px solid transparent
    background: #bc0000
    padding: 0
    -webkit-transition: .3s
    transition: all .3s
    border-radius: 0
    cursor: pointer
    outline: 0
    box-shadow: none
    &:hover
      outline: 0
      border: 2px solid #bc0000
      color: #bc0000
      background: #fff
      box-shadow: none


.text-center
  text-align: center

.text-red
  color: #bc0000
  word-break: normal

.text-notification
  font-size: 12px


.container-fluid
  padding: 60px 0 0 0

.main-block-container
  min-height: auto
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  margin-top: 60px
  .main-block
    max-width: 900px
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    margin: 0 auto
    justify-content: space-between
    background-color: white
    background-repeat: no-repeat
    background-size: contain
    padding: 65px 50px

.text
  &.text-red
    color: #bc0000
    word-break: normal



h4
  font-size: 24px
  margin-bottom: 16px

h1, h2, h3, h4, h5, h6
  font-weight: 300
  margin-top: 0

input.ng-touched.ng-invalid
  border-color: red

.text-danger
  color: #dc3545 !important

.small, small
  font-size: 80%
  font-weight: 400

