:host {
  width: 100%;

  .login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    background: url("../../../assets/img/log-bg.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 65px 50px;
    max-width: 900px;
  }

  .copyright-login {
    margin-top: 20px;
    text-align: center;
    line-height: 0.3em;
  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }

  fieldset {
    display: block;
    min-width: -webkit-min-content;
  }
}
