<div class="login-container">
    <div id="content"
        class="col-sm-12">
        <div class="col-md-5 col-centered">
            <div class="panel"
                *ngIf="passwordReset === false">
                <div class="panel-heading">
                    <h4 class="panel-title"
                        *ngIf="passwordReset === false">
                        Пожалуйста, обновите пароль
                    </h4>
                </div>
                <div id="existing-user"
                    class="panel-body"
                    data-hook="login">
                    <form class="register-form"
                        novalidate=""
                        [formGroup]="updatePasswordForm"
                        (ngSubmit)="onSubmit()">
                        <fieldset class="register-input-container">
                            <div class="form-group register-input-item">
                                <input type="password"
                                    class="form-control"
                                    name="password"
                                    formControlName="password"
                                    placeholder="Введите новый пароль"
                                    autocomplete="off"
                                    [ngClass]="{'is-invalid':updatePasswordForm.get('password').errors && updatePasswordForm.get('password').touched}" />
                                <div
                                    *ngIf="updatePasswordForm.get('password').errors && updatePasswordForm.get('password').touched">
                                    <small class="text-danger">
                                        {{updatePasswordForm.get('password').errors.msg ||'Пароль должен содержать не менее 6 символов'}}
                                    </small>
                                </div>
                            </div>

                            <div class="form-group register-input-item">
                                <input type="password"
                                    class="form-control"
                                    name="confirm_password"
                                    formControlName="confirm_password"
                                    placeholder="Подтвердите пароль"
                                    autocomplete="off"
                                    [ngClass]="{'is-invalid':(updatePasswordForm.get('confirm_password').errors || updatePasswordForm.hasError('mismatchedPasswords')) && updatePasswordForm.get('confirm_password').touched }" />
                                <div
                                    *ngIf="(updatePasswordForm.get('confirm_password').errors || updatePasswordForm.hasError('mismatchedPasswords')) && updatePasswordForm.get('confirm_password').touched">
                                    <small class="text-danger">
                                        {{ 'Пароли должны совпадать' }}
                                    </small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="register-button-container text-center">
                            <button class="btn v-btn-red d-block mx-auto">
                                Обновить пароль
                            </button>
                        </fieldset>
                    </form>
                </div>
                <div id="existing-user"
                    class="panel-body"
                    *ngIf="passwordReset === true">
                    <span>Пароль успешно изменен!</span>
                    <span>
                        Кликните <a [routerLink]="['/auth/login']">сюда </a>чтобы войти.
                    </span>
                </div>
            </div>
            <div class="panel"
                *ngIf="passwordReset === true">
                <div class="panel-heading">
                    <img src="../../../../assets/img/check.svg"
                        class="img-fluid my-4" />
                    <h4 class="panel-title"
                        *ngIf="passwordReset === true">
                        Пароль изменен!
                    </h4>
                </div>

                <div id="existing-user"
                    class="panel-body"
                    data-hook="login">
                    <span>Пароль успешно изменен!</span>
                    <span>
                        Теперь вы можете войти в свой аккаунт!
                    </span>
                </div>
                <div class="panel-footer">
                    <button class="btn v-btn-red d-block mx-auto text-center"
                        [routerLink]="['/login']">
                        Войти
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>