@import "src/assets/style/mixin.scss";

p {
  margin: 0;
}

.footer-container {
  margin-top: 20px;
  text-align: center;
  background: white;
  padding: 30px;

  .footer_link {
    @include flex-position;

    p {
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      margin: 0 15px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .footer_copyrating {
    .link {
      width: 400px;
      margin: 0 auto;
      border-top: 1px solid #DADADA;
      margin-top: 10px;
      line-height: 25px;
    }

    p {
      font-size: 11px;
      color: #575757;
    }
  }
}
