<div class="filter">

  <div class="filter__header">Фильтры</div>

  <div class="filter__block">
    <div class="filter-block filter-block__inline">
      <label class="filter-block__label">Регион:</label>
      <div class="filter-block__value">
        <select class="select-transparent">
          <option>Украина, Киев</option>
        </select>
      </div>
    </div>
    <div class="filter-block filter-block__checkbox filter-block__margin">
      <input type="checkbox" id="delivery">
      <label class="checkbox" for="delivery">
        Доставка из других регионов
      </label>
    </div>
  </div>

  <div class="filter__block">
    <div class="filter-block">
      <label class="filter-block__label">Диапазон цен, грн:</label>
      <div class="filter-block-range">
        <div class="filter-block-range__input">
          <input type="text" placeholder="от">
        </div>
        <div class="filter-block-range__delimiter">
          -
        </div>
        <div class="filter-block-range__input">
          <input type="text" placeholder="до">
        </div>
        <div class="filter-block-range__units">
          грн
        </div>
        <div class="filter-block-range__button">
          <button>Ок</button>
        </div>
      </div>
    </div>
  </div>

  <div class="filter__block">
    <div class="filter-block__checkboxes">
      <label class="filter-block__label">Состояние</label>

      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="new">
        <label class="checkbox" for="new">
          Новый
        </label>
      </div>
      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="used">
        <label class="checkbox" for="used">
          Б/у
        </label>
      </div>
    </div>
  </div>


  <div class="filter__block">
    <div class="filter-block__checkboxes">
      <label class="filter-block__label">Бренд</label>

      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="brand1">
        <label class="checkbox" for="brand1">
          Бренд1
        </label>
      </div>
      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="brand2">
        <label class="checkbox" for="brand2">
          Бренд2
        </label>
      </div>
      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="brand3">
        <label class="checkbox" for="brand3">
          Бренд3
        </label>
      </div>
      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="brand4">
        <label class="checkbox" for="brand4">
          Бренд4
        </label>
      </div>
      <div class="text-center">
        <a href="#" class="filter-block__show_all">Показать все 32 бренда</a>
      </div>
    </div>
  </div>

  <div class="filter__block">
    <div class="filter-block__checkboxes">
      <label class="filter-block__label">Бренд</label>

      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="brand1">
        <label class="checkbox" for="brand1">
          Бренд1
        </label>
      </div>
      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="brand2">
        <label class="checkbox" for="brand2">
          Бренд2
        </label>
      </div>
      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="brand3">
        <label class="checkbox" for="brand3">
          Бренд3
        </label>
      </div>
      <div class="filter-block filter-block__checkbox">
        <input type="checkbox" id="brand4">
        <label class="checkbox" for="brand4">
          Бренд4
        </label>
      </div>
      <div class="text-center">
        <a href="#" class="filter-block__show_all">Показать все 32 бренда</a>
      </div>
    </div>
  </div>

</div>